[submodule "third_party/forked/nvidia-external-attacher/external-attacher"]
	path = third_party/forked/nvidia-external-attacher/external-attacher
	url = https://github.com/kubernetes-csi/external-attacher.git
	branch = release-4.11
