{{range .BFGCFGParams}}{{.}}
{{end}}

{{- if .RedfishInterface}}
BMC_PASSWORD="$(tr -dc 'A-Za-z0-9' </dev/urandom | head -c 4)-$(tr -dc 'A-Za-z0-9' </dev/urandom | head -c 4)_$(tr -dc '0-9' </dev/urandom | head -c 2)$(tr -dc 'a-z' </dev/urandom | head -c 1)$(tr -dc 'A-Z' </dev/urandom | head -c 1)"
BMC_USER="fw_updater"
BMC_REBOOT="yes"
CEC_REBOOT="yes"
USER_ID=8

pre_bmc_components_update() {
    ipmitool user set name $USER_ID $BMC_USER
    ipmitool user set password $USER_ID $BMC_PASSWORD
    ipmitool user enable $USER_ID
    ipmitool channel setaccess 1 $USER_ID ipmi=on
    ipmitool user priv $USER_ID 0x4 1
}

post_bmc_components_update() {
    ipmitool user set name $USER_ID ""
}
{{end}}

bfb_modify_os()
{
{{- range .CloudInitFiles}}
cat << \EOF > {{.Path}}
{{.Content | trimSuffix "\n"}}
EOF
{{end -}}
}
